---
import type { GetStaticPaths } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";
import ArticleContainer from "../../components/ArticleContainer.astro";
import { TRANSITION_NAMES } from "../../constants/transition-names";
import Newsletter from "../../components/Newsletter.astro";
import { getCollection } from "astro:content";
import { getOGImage } from "../../utils/getOGImage";

export const getStaticPaths = (async () => {
  const items = await getCollection("rss");

  return items.map((each) => {
    const content = each.data.description;
    const title = each.data.title;
    const slug = each.data.slug;
    const dateValue = each.data.dateValue;
    const dateDisplay = each.data.dateDisplay;
    const canonical = each.data.canonical;
    return {
      params: { slug },
      props: { content, dateValue, dateDisplay, title, canonical },
    };
  });
}) satisfies GetStaticPaths;

const description =
  "🌐 Explore the future of tech, science, and sustainability—one insight-packed issue at a time!";
const { content, dateDisplay, dateValue, title, canonical } = Astro.props;
const { slug } = Astro.params;
const image = `/og/newsletter/${slug}.png`;
await getOGImage({
  title: title,
  description,
  path: image,
});
---

<MainLayout
  title={title}
  description={description}
  image={image}
  canonical={canonical}
>
  <ArticleContainer>
    <header class="flex flex-col">
      <h1
        class="mt-6 text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
        transition:name={`${TRANSITION_NAMES.newsletterTitle}-${slug}`}
      >
        {title}
      </h1>
      <time
        datetime={dateValue}
        class="order-first flex items-center text-base text-zinc-400 dark:text-zinc-500"
        transition:name={`${TRANSITION_NAMES.newsletterTime}-${slug}`}
      >
        <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"
        ></span>
        <span class="ml-3">{dateDisplay}</span>
      </time>
    </header>
    <div class="mt-6 max-w-2xl">
      <Newsletter />
    </div>
    <div set:html={content} class="prose dark:prose-invert" />
  </ArticleContainer>
</MainLayout>
