---
import { Image } from "astro:assets";
import { TRANSITION_NAMES } from "../../constants/transition-names";
import { ASSET_PREFIX } from "../../constants/asset-prefix";
---

<div class="flex flex-row gap-5 sm:gap-8">
  <div
    class="aspect-[9/10] w-44 flex-none -rotate-2 overflow-hidden rounded-xl bg-zinc-100 transition-all dark:bg-zinc-800 sm:w-72 sm:rounded-2xl lg:hover:relative lg:hover:z-10 lg:hover:rotate-0 lg:hover:scale-125"
  >
    <Image
      alt="dani-akash"
      src={`${ASSET_PREFIX}/image-1.jpg`}
      width={300}
      height={320}
      sizes="(min-width: 640px) 18rem, 11rem"
      class="h-full w-full object-cover"
      loading="eager"
    />
  </div>
  <div
    class="aspect-[9/10] w-44 flex-none rotate-2 overflow-hidden rounded-xl bg-zinc-100 transition-all dark:bg-zinc-800 sm:w-72 sm:rounded-2xl lg:hover:relative lg:hover:z-10 lg:hover:rotate-0 lg:hover:scale-125"
  >
    <Image
      alt="dani-akash"
      src={`${ASSET_PREFIX}/image-2.jpg`}
      width={450}
      height={470}
      sizes="(min-width: 640px) 18rem, 11rem"
      class="h-full w-full object-cover"
      loading="eager"
    />
  </div>
  <div
    class="aspect-[9/10] w-44 flex-none -rotate-2 overflow-hidden rounded-xl bg-zinc-100 transition-all dark:bg-zinc-800 sm:w-72 sm:rounded-2xl lg:hover:relative lg:hover:z-10 lg:hover:rotate-0 lg:hover:scale-125"
  >
    <Image
      alt="dani-akash"
      src={`${ASSET_PREFIX}/image-3.jpg`}
      width={300}
      height={320}
      sizes="(min-width: 640px) 18rem, 11rem"
      class="h-full w-full object-cover"
      loading="eager"
    />
    <Image
      alt="dani-akash"
      src={`${ASSET_PREFIX}/image-3.jpg`}
      width={300}
      height={320}
      sizes="(min-width: 640px) 18rem, 11rem"
      class="fixed left-0 top-0 h-full w-full object-cover"
      transition:name={TRANSITION_NAMES.heroImage}
    />
  </div>
  <div
    class="aspect-[9/10] w-44 flex-none rotate-2 overflow-hidden rounded-xl bg-zinc-100 transition-all dark:bg-zinc-800 sm:w-72 sm:rounded-2xl lg:hover:relative lg:hover:z-10 lg:hover:rotate-0 lg:hover:scale-125"
  >
    <Image
      alt="dani-akash"
      src={`${ASSET_PREFIX}/image-4.jpg`}
      width={300}
      height={320}
      sizes="(min-width: 640px) 18rem, 11rem"
      class="h-full w-full object-cover"
      loading="eager"
    />
  </div>
  <div
    class="aspect-[9/10] w-44 flex-none -rotate-2 overflow-hidden rounded-xl bg-zinc-100 transition-all dark:bg-zinc-800 sm:w-72 sm:rounded-2xl lg:hover:relative lg:hover:z-10 lg:hover:rotate-0 lg:hover:scale-125"
  >
    <Image
      alt="dani-akash"
      src={`${ASSET_PREFIX}/image-5.jpg`}
      width={300}
      height={320}
      sizes="(min-width: 640px) 18rem, 11rem"
      class="h-full w-full object-cover"
      loading="eager"
    />
  </div>
</div>
