---
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import { TRANSITION_NAMES } from "../../constants/transition-names";
import { getDateValue } from "../../utils/getDateValue";
import { getDateDisplay } from "../../utils/getDateDisplay";
import ArticleContainer from "../../components/ArticleContainer.astro";
import { getOGImage } from "../../utils/getOGImage";

export const getStaticPaths = (async () => {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { post } = Astro.props;
const { Content } = await post.render();

const dateValue = getDateValue(post.data.date);
const dateDisplay = getDateDisplay(post.data.date);
const image = `/og/${post.slug}.png`;
await getOGImage({
  title: post.data.title,
  description: post.data.subtitle,
  path: image,
});
---

<MainLayout
  title={post.data.title}
  description={post.data.subtitle}
  keywords={post.data.tags}
  canonical={post.data.canonical}
  image={image}
>
  <ArticleContainer>
    <article>
      <header class="flex flex-col">
        <h1
          class="mt-6 text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
          transition:name={`${TRANSITION_NAMES.blogTitle}-${post.slug}`}
        >
          {post.data.title}
        </h1>
        <time
          datetime={dateValue}
          class="order-first flex items-center text-base text-zinc-400 dark:text-zinc-500"
          transition:name={`${TRANSITION_NAMES.blogTime}-${post.slug}`}
        >
          <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"
          ></span>
          <span class="ml-3">{dateDisplay}</span>
        </time>
      </header>
      <div class="prose dark:prose-invert">
        <Content />
      </div>
    </article>
  </ArticleContainer>
</MainLayout>
