---
import { getCollection } from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";
import ContentContainer from "./components/ContentContainer.astro";
import Header from "./components/Header.astro";
import LinkIcon from "../components/icons/LinkIcon.astro";
import { Image } from "astro:assets";
import { cn } from "../utils/cn";
import { ASSET_PREFIX } from "../constants/asset-prefix";
const projects = (await getCollection("project"))[0]!;
---

<MainLayout title="Projects">
  <ContentContainer>
    <Header
      title="Things I’ve Built"
      subtitle="From tiny experiments to giant time-sinks, here’s what’s kept me busy."
    />
    <div class="mt-16 sm:mt-20">
      <ul
        role="list"
        class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3"
      >
        {
          projects.data.map((project) => {
            return (
              <li class="group relative flex flex-col items-start">
                <>
                  <div
                    class={cn(
                      "relative z-10 flex w-12 items-center justify-center",
                      project.noBg && "h-16",
                      project.noBg ||
                        "h-12 rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0",
                    )}
                  >
                    <Image
                      width={64}
                      height={64}
                      src={`${ASSET_PREFIX}${project.logo}`}
                      alt={project.name}
                      class={cn(
                        project.noBg || "h-8 w-8 rounded-full",
                        project.noBg && "h-16 w-12",
                      )}
                      loading="eager"
                    />
                  </div>
                  <h2 class="mt-6 text-base font-semibold text-zinc-800 dark:text-zinc-100">
                    <>
                      <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl" />
                      <a
                        href={project.link.href}
                        target="_blank"
                        rel="noopener"
                      >
                        <>
                          <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl" />
                          <span class="relative z-10">{project.name}</span>
                        </>
                      </a>
                    </>
                  </h2>
                  <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                    {project.description}{" "}
                    {project.info ? (
                      <span class="text-[0.7rem] italic">{project.info}</span>
                    ) : null}
                  </p>
                  <p class="relative z-10 mt-6 flex text-sm font-medium text-zinc-400 transition group-hover:text-teal-500 dark:text-zinc-200">
                    <>
                      <LinkIcon />
                      <span class="ml-2">{project.link.label}</span>
                    </>
                  </p>
                </>
              </li>
            );
          })
        }
      </ul>
    </div>
  </ContentContainer>
</MainLayout>
