---
import { TRANSITION_NAMES } from "../constants/transition-names";
export interface Props {
  title: string;
  dateValue: string;
  dateDisplay: string;
  slug: string;
}

const { title, dateValue, dateDisplay, slug } = Astro.props;
---

<article class="md:grid md:grid-cols-4 md:items-baseline">
  <div class="group relative flex flex-col items-start md:col-span-3">
    <a
      href={`/newsletter/${slug}/`}
      class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"
    ></a>
    <h2
      class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100"
      transition:name={`${TRANSITION_NAMES.newsletterTitle}-${slug}`}
    >
      <div
        class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"
      >
      </div>
      <span>
        <span></span>
        <span class="relative z-10">{title}</span>
      </span>
    </h2>
    <time
      class="relative z-10 order-first mb-3 flex items-center pl-3.5 text-sm text-zinc-400 dark:text-zinc-500 md:hidden"
      datetime={dateValue}
    >
      <span
        class="absolute inset-y-0 left-0 flex items-center"
        aria-hidden="true"
      >
        <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"
        ></span>
      </span>
      {dateDisplay}
    </time>
    <div
      class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500"
    >
      Read article
      <svg
        viewBox="0 0 16 16"
        fill="none"
        aria-hidden="true"
        class="ml-1 h-4 w-4 stroke-current"
      >
        <path
          d="M6.75 5.75 9.25 8l-2.5 2.25"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </div>
  </div>
  <time
    class="relative z-10 order-first mb-3 mt-1 flex hidden items-center text-sm text-zinc-400 dark:text-zinc-500 md:block"
    datetime={dateValue}
    transition:name={`${TRANSITION_NAMES.newsletterTime}-${slug}`}
  >
    {dateDisplay}
  </time>
</article>
